 <%= form_with(scope: :search, url: diaries_path, method: :get, local: true) do |f| %>
    <p><label>検索したい野菜を入力してください<%= f.text_field :vegtable, value: @search_params[:vegtable] %></label></p>
    <%= f.submit %>
 <% end %>
