<div class= "search">
   <%= form_with(scope: :search, url: diaries_path, method: :get, local: true) do |f| %>
      <%= f.text_field :vegtable, value: @search_params[:vegtable],placeholder:"ðŸ”é‡Žèœã‚’å…¥åŠ›" %>
      <%= f.submit "æ¤œç´¢" %>
   <% end %>
</div>