<% if user_signed_in? %>
<div>
<%= link_to "投稿する", new_diary_path, method: :get %>
</div>
<% end %>

<% @diaries.each do |d| %>
  <%= render partial:"diaries", locals:{ d: d } %>
<% end %>
 <%= paginate(@diaries) %>
