// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, p,
div {
  margin: 0;
  padding: 0;
}

html {
  background-color: #DEFFDD;
  height: 100%;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  background-color: #DEFFDD;
  height: 100%;
}

#wrapper{
  width: 100%;
  position: relative;
  min-height: 100%;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}
// --------------------------header-------------------------------------
.heading{
  display: flex;
  justify-content: space-between;
  height :100px;
  background-color: #DEFFDD;
}

.title{
  padding-top: 30px;
  margin-left: 75px;
  font-weight: bold;
  font-size: 14pt;
  background-color:#DEFFDD;
  color: black;
  h1{
    background-color:#DEFFDD;
  }
}

.header_category{
  display:flex;
  padding-top: 50px;
  margin-right: 75px;
  background-color:#DEFFDD;
}

.header_list{
  cursor: pointer;
  margin-right: 25px;
  background-color: #83a749;
  font-weight: bold;
  font-size: 15pt;
  width: 110px;
  text-align: center;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px gray;
  a:link{
    color: #cde8e9;
  }

  a:visited{
    color: #cde8e9;
  }
}

.guest{
  font-size: 10pt;
  padding-top: 15px;
}

.header_icon{
  display: none;
}

// --------------------------main-------------------------------------
main{
  background-color:  #deffdd;
  padding-bottom: 100px;
}

.diary_list{
  text-align: center;
  padding-bottom: 30px;
}

.diary_item{
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}

.diary_avatar{
  display: flex;
  justify-content: center;
}

.avatar_avatar{
  box-shadow: 4px 4px 4px gray;
  width: 600px;
  height: 400px;
}

.diary_veg{
  font-weight: bold;
  margin-top: 30px;
  font-size: 40px;
}

.diary_action{
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 40px;
}

.diary_date{
  font-weight: bold;
  margin-top: 70px;
  margin-left: 100px;
  font-size: 15px;
}

.diary_next_action{
  margin-left: 30px;
  a:link{
    color: #83a749;
  }
  a:visited{
    color: #83a749;
  }
}

.diary_show{
  background-color: #cdd866;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 4px gray;
}

.diary_update{
  background-color: #cdd866;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 4px gray;
}

.diary_destroy{
  background-color: #cdd866;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 4px gray;
}
// --------------------------footer-------------------------------------
.footer_section{
  background-color: #906121;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.footer_comment{
  color: #EFEDED;
  margin-left: 75px;
  padding-top: 30px;
  letter-spacing: 3px;
}

.footer_item{
  margin-right: 75px;
  display: flex;
  padding-top: 30px;
  
}

.footer_list{
  margin-right: 25px;
  color: #EFEDED;
  letter-spacing: 3px;
}

.modoru{
  margin: 0 auto;
  font-size: 12pt;
  padding-top: 5px;
}

// --------------------------show.html.erb------------------------------------
.comment_all{
  padding-bottom: 30px;
}

#open{
  cursor: pointer;
  width: 200px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin-left: 550px;
  margin-top: 10px;
  background-color: antiquewhite;
}

#close{
  cursor: pointer;
  width: 200px;
  border: 1px solid #000000;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  background-color: rgb(247, 214, 171);
}

#mask{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#modal{
  background:antiquewhite;
  width: 700px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}

#mask.hidden{
  display: none;
}

#modal.hidden{
  transform: translate(0, -1000px);
}

.comment-text{
  width: 600px;
  height: 100px;
  border: 1px solid #000000;
  margin-left: 350px;
  background:#cde8e9;
}

.comment{
  width: 600px;
  height: 60px;
  border: 1px solid #000000;
  margin-left: 350px;
  background:antiquewhite;
  margin-top: 10px;
  padding-bottom: 10px;
}

// --------------------------search------------------------------------

.search{
  text-align: right;
  margin-right: 100px;
}

// --------------------------new------------------------------------

#new_open{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.new_question{
  margin-left: 300px;
  padding-top: 12px;
  width: 130px;
  background-color: #83a749;
  height: 50px;
  letter-spacing: 2px;
  font-size: large;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
  a:link{
    color: #cde8e9;
  }
  
  a:visited{
    color: #cde8e9;
  }
}

.new_diary{
  margin-right: 400px;
  padding-top: 12px;
  width: 130px;
  background-color: #83a749;
  height: 50px;
  letter-spacing: 2px;
  font-size: large;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
  a:link{
    color: #cde8e9;
  }
  
  a:visited{
    color: #cde8e9;
  }
}

#new_modal{
  background:#cde8e9;
  width: 800px;
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 2px 2px 4px gray;
}

.new_diary_box{
  padding-bottom: 85px;
  padding-top: 50px;
}

.alert{
  color: red;
}
// --------------------------headerの下------------------------------------
.index_content{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
}

.atunou_intro{
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  width: 110px;
  background-color: #a4c56e;
  height: 50px;
  font-size: 13pt;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
  a:link{
    color: #cde8e9;
  }
  
  a:visited{
    color: #cde8e9;
  }
}

.atunou_index{
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 110px;
  background-color: #a4c56e;
  height: 50px;
  font-size: 14pt;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 4px gray;
  a:link{
    color: #cde8e9;
  }
  
  a:visited{
    color: #cde8e9;
  }
}

.question_index{
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 110px;
  background-color: #a4c56e;
  height: 50px;
  font-size: 15pt;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  box-shadow: 2px 2px 4px gray;
  a:link{
    color: #cde8e9;
  }
  
  a:visited{
    color: #cde8e9;
  }
}

// --------------------------レスポンシブ対応-------------------------------------
@media(max-width: 1024px){
  .heading_title{
    display: none;
  }

  .diary_item{
    width:100%
  }

  .new_question{
    margin-left: 30px;
    margin-bottom: 10px;
    
  }
  
  .new_diary{
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .avatar_avatar{
    width: 300px;
    height: 200px;
  }

  #new_modal{
    width: 100%;
  }

  .comment-text{
    max-width: 100%;
    margin-left: 30px;
  }

  #open{
    margin-left: 30px;
    max-width: 100%;
  }

  .comment{
    margin-left: 30px;
    width: 100%;
  }

  .header_bookmark{
    display: none;
  }
}

// -----------------------@media(max-width: 600px)-----------------------------

@media(max-width: 600px){
  .header_icon{
    display: block;
  }

  .heading_title{
    display: inline-block;
    font-size: 10px;
  }

  #header_open{
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
  }
  .overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
  }

  .overlay.header_show{
    opacity: 1;
    pointer-events: auto;
  }

  .header_hide{
    display: none;
  }

  #header_close{
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
  }

  .header_menu_list{
    margin-top: 24px;
  }

  .header_category{
    margin-right: 20px;
  }


  .header_list{
    display: none;
  }

  .new_question{
    display: none;
  }

  .index_content{
    display: none;
  }

  .title{
    font-size: 14px;
    margin-left: 20px;
  }

  .footer_comment{
    margin-left: 0;
  }

  .footer_item{
    margin-right: 0;
  }

 .diary_show{
    width: 50px;
    padding: 5px 0;
  }
  
  .diary_update{
    width: 50px;
    padding: 5px 0;
  }
  .diary_destroy{
    width: 50px;
    padding: 5px 0;
 }

 .diary_icon{
   width: 25px;
   height: 25px;
 }

 .diary_veg{
   font-size: 20px;
   margin-top: 0;
  }
  
  .diary_action{
    font-size: 20px;
    margin-top: 0;
 }

 .diary_date{
   display: none;
 }

 #new_open{
   margin-top: 10px;
 }

 .new_diary{
   margin: 10px auto;
 }

 .diary_item{
   width: 100%;
 }

 .comment-text{
   margin-left: 0;
 }

 #open{
   margin-left: 0;
 }

 .comment{
   margin-left: 0;
 }
}
