// Place all the styles related to the infomations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the infomations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.infomation{
  padding-bottom: 10px;
}

.infomaiton_title{
  padding-top: 30px;
  width: 300px;
  margin: 0 auto 20px;
  border-bottom: 3px double #000000;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}

.infomaiton_info{
  border: 1px solid #000000;
  width: 600px;
  height: 150px;
  margin: 0 auto;
  background-color: antiquewhite;
}

@media(max-width: 600px){
  .infomaiton_info{
    width: 100%;
  }
}