// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mypage{
  display: flex;
}

.task_content{
  padding-bottom: 350px;
}

.task_list{
  display: flex;
  margin-left: 20px;
}

.task_list_item{
  margin: 10px 100px;
  font-size: 15pt;
  color: #817e7e;
}

.task_card{
  margin-top: 100px;
}

.task_diary2{
  display: flex;
  margin: 20px 0;
}

.task_open{
  cursor: pointer;
  border: 1px solid #83a749;
  width: 150px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  background-color: #cbddaf;
  color: #5e5b5b;
}

.task_open.active{
  background-color:#83a749;
  color: #cde8e9;
}

.task_open:not(.active):hover{
  opacity: 0.5;
  transition: opacity 0.4s;
}

.task_modal.active{
  display: block;
}

.task_modal{
  display: none;
}